*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent; /* For mobile browsers */
  }
  
  a:focus, a:hover {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent; /* For mobile browsers */
  }

html,
body {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'outfit';
    background-color: #111;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 2.2vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    color: white;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {   
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
}


.cursor{
    height: 20px;
    width: 20px;
    background-color: #0BA34E;
    border-radius: 50%;
    z-index: 9999;
    position :fixed;

}



.contact-left-title h2 {
   font-weight: 900;
    color: #a363aa;
    font-size: 3vw;
    margin-bottom: 5px;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title hr{
    border: none;
    width: 150px;
    height: .2vw;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

#contact-inputs{
    height: 200px;
    width: 400px;
    border: none;
    outline: none;
    padding-top: 15px;
    padding-left: 25px;
    font-weight: 540;
    color: #666;
    font-size: .8vw;
    border-radius: 20px;
}

.contact-inputs:hover{
    border: 3px solid #ff994f;
}
#contact-inputs:hover{
    border: 3px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #111;
}

#contact-inputs::placeholder{
    color: #111;
}

.contact-right img{
    padding-left: 8vw;
    width: 500px;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 1.4vw;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#ff994f, #fa6d86);
}

.contact-left button img{
    height: 2vh;
}

@media (max-width : 800px){
    .contact-inputs{
        width: 80vw;
    }
    #contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}


  /* css for footer  */

  footer{
    background-color: #111;
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 1.5rem 1rem;
}
.container-f {
   max-width: 85vw;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}
.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color:#0BA34E;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #0BA34E;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:#0BA34E;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #0BA34E;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#0BA34E;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top:1rem;
   padding-bottom: 0rem;
}
.row .form input{
   background-color: #1a1c20ff;
   border:0;
   outline:none;
   /* padding:14px 20px; */
   width: 20vw;
   height: 3vw;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   /* padding:7px 10px; */
   width: 4vw;
   height: 3vw;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #0BA34E;
}

/********** Responsive Design ********/
@media(max-width:900px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:68px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }
 .form button{
   width: 8vw;
   height: 8vw;;
 }
}
@media only screen and (max-width: 455px){
    .cursor {
        display: none;
      }
  .slide-about .image-about{

    display: none;

 } 

 .slide-about .about-video{

  display: block;
 }

  .input33{
  min-width: 15vh;
  min-height: 5vh;
 }
 .form button{
  width: 5vh;
  height: 5vh;
 }

}
